{# commande/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    {# Votre contenu HTML ici #}
    <h1>Liste des commandes</h1>
    <ul>
        {% for order in processedOrders %}
            <li>{{ order.description }}</li>
            {# Affichez d'autres informations sur la commande ici #}
        {% endfor %}
    </ul>
{% endblock %}
